{% extends 'frontend/base.html' %}
{% load static %}
{% block content %}

<script src="{% static 'frontend/js/acnid/home.js' %}" defer></script>
<div class="p-2 m-2 w-100 d-flex justify-content-center container-fluid">
	<div class="d-flex flex-column flex-nowrap overflow-auto">
		<h1>Home ACNID, welcome {{request.user}}</h1>
		<table id="table-home" class="table thead-primary">
			<thead>
				<!-- HEADERS -->
				<tr>
					<td>Edit</td>
					<td>Delete</td>
					{% for key, value in meta.items %}
					<td>{{value.display_name}}</td>
					{% endfor %}
					<!-- Filter boxes -->
					<tr>
						<td></td>
						<td></td>
						{% for key, value in meta.items %}
						<td>
							{% if value.catalogue %}
							<select onchange="filterBy(event, '{{key}}')" class="form-control">
								<option value="all">Todos</option>
								{% for option in value.catalogue %}
								<option value="{{ option }}">{{ option }}</option>
								{% endfor %}
							</select>
							{% else %}
							<input id="filter-by-{{key}}" type="text" class="form-control" placeholder="Filter by {{key}}" onchange="filterBy(event, '{{key}}')">
							{% endif %}
						</td>
						{% endfor %}
					</tr>
				</tr>
			</thead>
			<tbody id="table-home-body">
			</tbody>
		</table>
		<div class="d-flex justify-content-end">
			<button type="button" class="btn btn-secondary m-2">Exportar seleccionados</button>
			<a type="button" class="btn btn-primary m-2" href="/capture">Nuevo registro</a>
		</div>
	</div>
</div>
{% endblock %}
